#menuCont {
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

#menu {
    background-color: #242424;
    padding: 1%;
}

#logo {
    transition: 0.5s;
    color: #fcba03;
}

#logo img {
    width: 15%;
    margin-right: 5%;
}

#logo:hover {
    cursor: pointer;
    margin-left: 0.5rem;
}

#menuList {
    position: absolute;
    right: 0;
    background-color: #242424;
    padding-right: 2%;
    padding-left: 2%;
}

a {
    color: gainsboro;
}
.nav-link {
    transition: 0.5s;
    border: 5px solid #242424;
    margin-right: 1rem;
    border-radius: 0.25rem;
}

.nav-link:hover {
    color: #fcba03;
    border-bottom-color: #fcba03;
}

.nav-link:focus {
    color: gainsboro;
}

.nav-link:focus:hover {
    color: #fcba03;
    border-bottom-color: #fcba03;
}

.nav-link:active {
    transition: 0.15s;
    border-bottom: 1.5px solid #fcba03;
}